body {
    font-family: 'Georgia', serif;
    background-color: #f9f5f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    font-family: 'Times New Roman', serif;
    text-align: center;
}

h1 {
    color: #b78b71;
    font-size: 2.5em;
    margin-bottom: 0;
}

h2 {
    color: #8c6d62;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
}

.wedding-info, .program, .rsvp, .map {
    border: 2px solid #b78b71;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.wedding-info {
    border-color: #8c6d62;
}

.program {
    border-color: #a67c5e;
}

.rsvp {
    border-color: #9a6e5f;
}

.map {
    border-color: #8c6d62;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Убедитесь, что размеры учитывают границу */
}

input[type="submit"] {
    background-color: #b78b71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8c6d62;
}
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .map iframe {
        height: 200px;
    }
}
